<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<div th:replace="top :: header"></div>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <label class="layui-form-label">发展农村党员姓名</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="${member.name}" name="name" id="name" autocomplete="off" placeholder="姓名" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block" id="divSex">
                        <input type="radio"  name="sex" value="0" title="男" th:checked="${member.sex== '0'}" disabled>
                        <input type="radio"  name="sex" value="1" title="女" th:checked="${member.sex== '1'}" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="${member.age}" name="age" id="age" autocomplete="off" placeholder="年龄" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学历</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="${member.education}" name="education" id="education" autocomplete="off" placeholder="学历" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">志愿者编号</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="${member.volunteerNumber}" name="volunteerNumber" id="volunteerNumber" autocomplete="off" placeholder="志愿者编号" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所在村街</label>
                    <div class="layui-input-inline">
                        <select name="quiz1" id="quiz1" lay-filter="quiz1" disabled>
                            <option value="">请选择县（市、区）</option>
                            <option th:value="${dept.id}" th:each="dept : ${depts}" th:text="${dept.name}" th:selected="${dept.id eq dept_1.id}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="quiz2" id="quiz2" lay-filter="quiz2" disabled>
                            <option value="">请选择乡镇</option>
                            <option th:value="${dept.id}" th:each="dept : ${depts1}" th:text="${dept.name}" th:selected="${dept.id eq dept_2.id}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="quiz3" id="quiz3" lay-filter="quiz3" disabled>
                            <option value="">请选择村街</option>
                            <option th:value="${dept.id}" th:each="dept : ${depts2}" th:text="${dept.name}" th:selected="${dept.id eq dept_3.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">支部召开会议时间</label>
                    <div class="layui-input-inline">
                        <input type="text" th:value="${#dates.format(member.meetingTime, 'yyyy-MM-dd')}" class="layui-input" name="meetingTime" id="meetingTime" placeholder="yyyy-MM-dd" disabled>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">党委审批时间</label>
                    <div class="layui-input-inline">
                        <input type="text" th:value="${#dates.format(member.approvalTime, 'yyyy-MM-dd')}" class="layui-input" name="approvalTime" id="approvalTime" placeholder="yyyy-MM-dd" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">谈话人</label>
                    <div class="layui-input-block">
                        <input type="text" th:value="${member.talker}" name="talker" id="talker" autocomplete="off" placeholder="谈话人" class="layui-input" disabled>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上传照片</label>
                    <div class="layui-input-block">
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="demo1" th:src="@{/upload/{path1}(path1=${path1})}">
                            <input type="hidden" th:value="${path1}" id="path1"/>
                            <button type="button" class="layui-btn" id="test1" disabled>上传照片</button>
                            <img class="layui-upload-img" id="demo2" th:src="@{/upload/{path2}(path2=${path2})}">
                            <input type="hidden" th:value="${path2}" id="path2"/>
                            <button type="button" class="layui-btn" id="test2" disabled>上传照片</button>
                            <img class="layui-upload-img" id="demo3" th:src="@{/upload/{path3}(path3=${path3})}">
                            <input type="hidden" th:value="${path3}" id="path3"/>
                            <button type="button" class="layui-btn" id="test3" disabled>上传照片</button>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <a class="layui-btn" id="btnYes">通过</a>
                            <a class="layui-btn" id="btnNo">不通过</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="noAgreeReason" style="display: none;">
    不通过原因：<textarea id="reason">32131</textarea>
</div>

<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    layui.use(['form', 'layedit', 'laydate','upload'], function(){
        var table = layui.table
            ,$ = layui.$
            ,form = layui.form
            ,laydate = layui.laydate
            ,upload = layui.upload;

        //日期
        laydate.render({
            elem: '#meetingTime'
            ,format: 'yyyy-MM-dd'
        });
        laydate.render({
            elem: '#approvalTime'
            ,format: 'yyyy-MM-dd'
        });

        var id = '[[${member.id}]]';
        $('#btnYes').click(function () {
            layer.confirm('确定通过本次审核？', {
                btn: ['确定', '返回']
                , icon: 3
            }, function (index, layero) {
                $.ajax({
                    url: '/member/' + id + '/audit'
                    , data: {flag:"yes"}
                    , type: 'post'
                    , success: function (result) {
                        layer.alert(result.msg, {icon: 1});
                        window.location.href = "/member";
                    }
                });
            });
        });

        $('#btnNo').click(function () {
            layer.open({
                type: 1,
                title: '不通过确认',
                shadeClose: true,
                shade: 0.8,
                area: ['60%', '60%'],
                content: $('#noAgreeReason'),
                btn: ['确定','返回'],
                yes: function(index){
                    var reason = $("#reason").val();
                    $.post('/member/' + id + '/audit',{flag:"no",reason:reason},function (data) {
                        //最后关闭弹出层
                        layer.close(index);
                        window.location.href = "/member";
                    },"json");

                }
            });
        });
    });
</script>

</body>
</html>