<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<div th:replace="top :: header"></div>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="component-form-group">
                <div class="layui-form-item">
                    <label class="layui-form-label">发展农村党员姓名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" id="name" autocomplete="off" placeholder="姓名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="0" title="男" checked>
                        <input type="radio" name="sex" value="1" title="女">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-block">
                        <input type="text" name="age" id="age" autocomplete="off" placeholder="年龄" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学历</label>
                    <div class="layui-input-block">
                        <input type="text" name="education" id="education" autocomplete="off" placeholder="学历" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">志愿书编码</label>
                    <div class="layui-input-block">
                        <input type="text" name="volunteerNumber" id="volunteerNumber" autocomplete="off" placeholder="志愿者编号" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所在村街</label>
                    <div class="layui-input-inline">
                        <select name="quiz1" id="quiz1" lay-filter="quiz1">
                            <option value="">请选择县（市、区）</option>
                            <option th:value="${dept.id}" th:each="dept : ${depts}" th:text="${dept.name}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="quiz2" id="quiz2" lay-filter="quiz2">
                            <option value="">请选择乡镇</option>
                            <option th:value="${dept.id}" th:each="dept : ${depts1}" th:text="${dept.name}"></option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="quiz3" id="quiz3" lay-filter="quiz3">
                            <option value="">请选择村街</option>
                            <option th:value="${dept.id}" th:each="dept : ${depts2}" th:text="${dept.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支部召开会议时间</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="meetingTime" id="meetingTime" placeholder="yyyy-MM-dd" lay-verify="date" autocomplete="off">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">党委审批时间</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" name="approvalTime" id="approvalTime" placeholder="yyyy-MM-dd" lay-verify="date" autocomplete="off">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">谈话人</label>
                    <div class="layui-input-block">
                        <input type="text" name="talker" id="talker" autocomplete="off" placeholder="谈话人" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">上传照片</label>
                    <div class="layui-input-block">
                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="demo1">
                            <input type="hidden" value="" id="path1"/>
                            <button type="button" class="layui-btn" id="test1">上传照片</button>
                            <img class="layui-upload-img" id="demo2">
                            <input type="hidden" value="" id="path2"/>
                            <button type="button" class="layui-btn" id="test2">上传照片</button>
                            <img class="layui-upload-img" id="demo3">
                            <input type="hidden" value="" id="path3"/>
                            <button type="button" class="layui-btn" id="test3">上传照片</button>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <a class="layui-btn" id="btnCreate">立即提交</a>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/layuiadmin/lib/jquery.js}"></script>
<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>

    layui.use(['form', 'layedit', 'laydate','upload'], function(){
        var table = layui.table
            ,$ = layui.$
            ,form = layui.form
            ,laydate = layui.laydate
            ,upload = layui.upload;

        //日期
        laydate.render({
            elem: '#meetingTime'
        });
        laydate.render({
            elem: '#approvalTime'
        });


        $('#btnCreate').click(function () {
            var name = $.trim($('#name').val());
            var sex = $("input[name='sex']:checked").val();
            var age = $.trim($('#age').val());
            var education = $.trim($('#education').val());
            var volunteerNumber = $.trim($('#volunteerNumber').val());
            var villageStreet = $('#quiz3').val();
            var township = $('#quiz2').val();
            var area = $('#quiz1').val();
            var meetingTime = $('#meetingTime').val();
            var approvalTime = $('#approvalTime').val();
            var talker = $.trim($('#talker').val());
            var path1 = $('#path1').val();
            var path2 = $('#path2').val();
            var path3 = $('#path3').val();

            if (name == '' || name == undefined) {
                layer.alert('请填写姓名',{
                    icon:2
                });
                return;
            }
            if (sex == '' || sex == undefined) {
                layer.alert('请选择性别',{
                    icon:2
                });
                return;
            }
            if (age == '' || age == undefined) {
                layer.alert('请填写年龄',{
                    icon:2
                });
                return;
            }
            if (education == '' || education == undefined) {
                layer.alert('请填写学历',{
                    icon:2
                });
                return;
            }
            if (volunteerNumber == '' || volunteerNumber == undefined) {
                layer.alert('请填写志愿书编码',{
                    icon:2
                });
                return;
            }

            if (area == '' || area == undefined) {
                layer.alert('请选择县（市、区）',{
                    icon:2
                });
                return;
            }
            if (township == '' || township == undefined) {
                layer.alert('请选择乡镇',{
                    icon:2
                });
                return;
            }
            if (villageStreet == '' || villageStreet == undefined) {
                layer.alert('请选择街村',{
                    icon:2
                });
                return;
            }

            if (meetingTime == '' || meetingTime == undefined) {
                layer.alert('请填写支部召开会议时间',{
                    icon:2
                });
                return;
            }
            if (approvalTime == '' || approvalTime == undefined) {
                layer.alert('请填写党委审批时间',{
                    icon:2
                });
                return;
            }
            if (talker == '' || talker == undefined) {
                layer.alert('请填写谈话人',{
                    icon:2
                });
                return;
            }
            if (path1 == '') {
                layer.alert('请上传三张照片',{
                    icon:2
                });
                return;
            }
            if (path2 == '') {
                layer.alert('请上传三张照片',{
                    icon:2
                });
                return;
            }
            if (path3 == '') {
                layer.alert('请上传三张照片',{
                    icon:2
                });
                return;
            }

            var data = {
                name: name,
                sex: sex,
                age: age,
                education: education,
                volunteerNumber: volunteerNumber,
                villageStreet: villageStreet,
                township: township,
                area: area,
                meetingTime: meetingTime,
                approvalTime: approvalTime,
                talker: talker,
                path1: path1,
                path2: path2,
                path3: path3
            };
            $.ajax({
                url: '/member/create'
                ,type: 'post'
                ,data: data
                ,success: function (result) {
                    if (result.code == '0') {
                        layer.alert(result.msg,{
                            icon:1
                        });
                        window.location.href = "/member";
                    }else {
                        layer.alert(result.msg,{
                            icon:2
                        });
                    }
                }
            });
        });
        //选择区县
        form.on('select(quiz1)', function(data){
            var html = '<option value="">请选择乡镇</option>';
            $.post("/dept/selectDeptsByFid",{fid:data.value},function (data) {
                 var items = data.data;
                 for(var x in items){
                     html += '<option value = "' + items[x].id + '">' + items[x].name + '</option>';
                 }
                 $("#quiz2").html(html);
                 $("#quiz3").html('<option value="">请选择村街</option>');
                 form.render("select");
            },"json");
        });
        //选择村街
        form.on('select(quiz2)', function(data){
            var html = '<option value="">请选择村街</option>';
            $.post("/dept/selectDeptsByFid",{fid:data.value},function (data) {
                var items = data.data;
                for(var x in items){
                    html += '<option value = "' + items[x].id + '">' + items[x].name + '</option>';
                }
                $("#quiz3").html(html);
                form.render("select");
            },"json");
        });

        //普通图片上传
        upload.render({
            elem: '#test1'
            ,url: '/member/upload'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else {//上传成功
                    $("#path1").val(res.data.filepath);
                }
            }
        });
        //普通图片上传
        upload.render({
            elem: '#test2'
            ,url: '/member/upload'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else {//上传成功
                    $("#path2").val(res.data.filepath);
                }
            }
        });
        //普通图片上传
        upload.render({
            elem: '#test3'
            ,url: '/member/upload'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo3').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else {//上传成功
                    $("#path3").val(res.data.filepath);
                }
            }
        });
    });
</script>

</body>
</html>