<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.partymember.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="com.zc.partymember.domain.Member">
        <constructor>
            <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="area" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="township" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="village_street" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="volunteer_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="age" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="education" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="meeting_time" javaType="java.util.Date" jdbcType="DATE"/>
            <arg column="approval_time" javaType="java.util.Date" jdbcType="DATE"/>
            <arg column="talker" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_date" javaType="java.util.Date" jdbcType="DATE"/>
            <arg column="create_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="update_date" javaType="java.util.Date" jdbcType="DATE"/>
            <arg column="update_by" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="pic_path" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    id,area,township,village_street,volunteer_number,name,sex,age,education,meeting_time,approval_time,
    talker,create_date,create_by,update_date,update_by,remark,pic_path,status
  </sql>
    <sql id="Join_Column_List">
        a.id,a.area,a.township,a.village_street,a.volunteer_number,a.name,a.sex,a.age,a.education,a.meeting_time,a.approval_time,
        a.talker,a.create_date,a.create_by,a.update_date,a.update_by,a.remark,a.pic_path,a.status,b.name AS areaName,c.name AS townName,d.name AS villageName
    </sql>
    <sql id="memberJoins">
        LEFT JOIN p_dept b ON a.area = b.id
        LEFT JOIN p_dept c ON a.township = c.id
        LEFT JOIN p_dept d ON a.village_street = d.id
    </sql>
    <insert id="insert" parameterType="com.zc.partymember.domain.Member">
    insert into p_member (id, area, township,
      village_street, volunteer_number, name,
      sex, age, education,
      meeting_time, approval_time, talker,
      create_date, create_by, update_date,
      update_by, remark,pic_path,status)
    values (#{id,jdbcType=INTEGER}, #{area,jdbcType=VARCHAR}, #{township,jdbcType=VARCHAR},
      #{villageStreet,jdbcType=VARCHAR}, #{volunteerNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR},
      #{meetingTime,jdbcType=DATE}, #{approvalTime,jdbcType=DATE}, #{talker,jdbcType=VARCHAR},
      #{createDate,jdbcType=DATE}, #{createBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE},
      #{updateBy,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{picPath,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.zc.partymember.domain.Member">
        insert into p_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="township != null">
                township,
            </if>
            <if test="villageStreet != null">
                village_street,
            </if>
            <if test="volunteerNumber != null">
                volunteer_number,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="education != null">
                education,
            </if>
            <if test="meetingTime != null">
                meeting_time,
            </if>
            <if test="approvalTime != null">
                approval_time,
            </if>
            <if test="talker != null">
                talker,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="township != null">
                #{township,jdbcType=VARCHAR},
            </if>
            <if test="villageStreet != null">
                #{villageStreet,jdbcType=VARCHAR},
            </if>
            <if test="volunteerNumber != null">
                #{volunteerNumber,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=VARCHAR},
            </if>
            <if test="education != null">
                #{education,jdbcType=VARCHAR},
            </if>
            <if test="meetingTime != null">
                #{meetingTime,jdbcType=DATE},
            </if>
            <if test="approvalTime != null">
                #{approvalTime,jdbcType=DATE},
            </if>
            <if test="talker != null">
                #{talker,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=DATE},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from p_member a
        where a.id = #{id,jdbcType=INTEGER}
    </select>
    <!--<select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">-->
        <!--select-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from p_member-->
        <!--where name = #{name,jdbcType=VARCHAR}-->
    <!--</select>-->
    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Join_Column_List"/>
        from p_member a
        <include refid="memberJoins"/>
        where a.is_del = "0"
        <if test="name != null and name != ''" >
            and (a.name like concat('%',#{name,jdbcType=VARCHAR},'%') or
            a.volunteer_number like concat('%',#{name,jdbcType=VARCHAR},'%'))
        </if>
        <if test="status != null and status != ''">
            and a.status like concat('%',#{status,jdbcType=VARCHAR},'%')
        </if>
        <if test="area != null and area != ''">
            and a.area like concat('%',#{area,jdbcType=VARCHAR},'%')
        </if>
        <if test="start !=null and start != ''">
            <![CDATA[   and UNIX_TIMESTAMP(meeting_time) >  UNIX_TIMESTAMP(#{start})  ]]>
        </if>
        <if test="end != null and end != ''">
            <![CDATA[   and UNIX_TIMESTAMP(meeting_time) <=  UNIX_TIMESTAMP(#{end})   ]]>
        </if>
    </select>
    <delete id="deleteSelective" parameterType="java.lang.Integer">
        UPDATE
        p_member
        SET is_del = "1"
        where id = #{id,jdbcType = INTEGER}
    </delete>
    <update id="updateByPrimaryKey" parameterType="com.zc.partymember.domain.Member">
    update
    p_member
    set
        area = #{area,jdbcType=INTEGER},
        township = #{township,jdbcType=INTEGER},
        village_street = #{villageStreet,jdbcType=INTEGER},
        volunteer_number = #{volunteerNumber,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=VARCHAR},
        age = #{age,jdbcType=VARCHAR},
        education = #{education,jdbcType=VARCHAR},
        meeting_time = #{meetingTime,jdbcType=DATE},
        approval_time = #{approvalTime,jdbcType=DATE},
        talker = #{talker,jdbcType=VARCHAR},
        update_date = #{updateDate,jdbcType=DATE},
        update_by = #{updateBy,jdbcType=INTEGER},
        remark = #{remark,jdbcType=VARCHAR},
        pic_path = #{picPath,jdbcType=VARCHAR},
        status = #{status,jdbcType=VARCHAR}
    where
    id = #{id,jdbcType=INTEGER}

  </update>
    <update id="updateStatusByPrimaryKey" parameterType="com.zc.partymember.domain.Member">
        UPDATE
        p_member
        SET
           status = #{status,jdbcType=VARCHAR},
           no_agree_reason = #{no_agree_reason,jdbcType=VARCHAR}
        WHERE
           id = #{id,jdbcType=INTEGER}
    </update>
</mapper>